* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .3s;
}
html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--clr-s);
    color: var(--clr-dark);
    scroll-behavior: smooth;
}


/* ==========================================Body ================================ */
body {
    background: var(--clr-p);
    color: var(--clr-white);
    scroll-behavior: smooth;

}

#interface {
    position: relative;
    /* display: flex; */
    display: grid;
    grid-template-columns: 15rem auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main aside {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: .5rem;
    min-width: 15rem;
    height: 100vh;
    overflow-y: hidden;
    /* border: 1px solid var(--clr-light); */
    background: var(--clr-p-light);
    /* border-right: 1px solid var(--clr-gray-light); */
}




/* =====================================Left--side-bar============================= */
/* ==========================================================================Top */
.left-bar {
    position: relative;
    height: 100%;
    /* display: grid; */
    /* grid-template-rows: auto auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-bar .top{
    overflow-y: scroll;
}
.left-bar .bottom{
    position: relative;
    bottom: 0;
}

.left-bar .btn_category,
.left-bar .btn_sub-category {
    position: relative;
    margin-top: .1rem;
    list-style: none;
    cursor: pointer;
}

.left-bar .btn_category {
    position: relative;
    padding: 1rem;
    transition: .3s;
    color: var(--clr-light);
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
}

.left-bar .btn_category .btn-box img:hover {
    background: #263b63;
    border-radius: 2px;
}

.left-bar .btn_category:hover {
    background: var(--clr-p);
    color: var(--clr-s-shade2);
    padding-left: 2rem;
}

.btn_category.active-cat-btn {
    color: var(--clr-s-shade2);
    background: var(--clr-p);
    /* border-bottom: 1px solid var(--clr-gray-light);
    border-top: 1px solid var(--clr-gray-light); */
    border: 1px solid var(--clr-gray-light);
    border-left: 5px solid var(--clr-s-shade2);
    border-radius: 6px 6px 0 0;
}

.btn_category.active-cat-btn:hover {
    padding-left: 1rem;
}

.left-bar .sub-cat-box {
    position: relative;
    max-height: 0;
    overflow-y: hidden;
    transition: .5s;
    border-right: 1px solid var(--clr-gray-light); 
    border-left: 1px solid var(--clr-gray-light); 
}

.left-bar .btn_sub-category {
    margin: 1rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    border-radius: 4px;
}

.left-bar .btn_sub-category span.active-sub-cat-btn  {
    background: var(--clr-p-light);
    color: var(--clr-s);
}
.left-bar .btn_sub-category span {
    padding: .1rem .5rem;
    padding-left: .5rem;
    width: fit-content;
    border-radius: 4px;
}

.left-bar .btn_sub-category span:hover {
    background: var(--clr-s-shade2);
    color: var(--clr-black);
}

.left-bar .btn_sub-category .remove-sub-cat-btn {
    position: relative;
    padding: 0 .5rem;
    border-radius: 4px;
}

.left-bar .btn_sub-category .remove-sub-cat-btn:hover {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.left-bar .btn_sub-category .remove-sub-cat-btn:active {
    top: 2px;
}


.btn_category.active-cat-btn+.sub-cat-box {
    background: var(--clr-p);
    max-height: 40rem;
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid var(--clr-gray-light);
}




/* =================================================================== Sidebar Bottom  */
.bottom{
    border-top: 1px solid var(--clr-gray-shade8);
    padding-top: .5rem;
}
.bottom .bottom-box{
    position: relative;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 4px;
}
.bottom .upgrade-premium-box .name{
    margin-left: 1rem;
}
.bottom .bottom-box:hover{
    background: var(--clr-p);
}
.bottom .bottom-box>.name{
    width: 60%;
    color: var(--clr-light);
    font-size: .8rem;
    font-weight: 550;
    font-family: var(--nunito);
    pointer-events: none;
}
.bottom img{
    --size: 1.3rem; 
    height: var(--size);
    width: var(--size);
    object-fit: cover;
    pointer-events: none;
    border-radius: 2px;
}
.bottom .bottom-box .more-btn{
    --size: 1.5rem; 
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px;
    pointer-events: none;
}
.bottom .bottom-box .badge span{
    background: #e8e789;
    color: var(--p-clr-dark);
    border-radius: 2px;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: .2rem;
}
.bottom .bottom-box .more-btn span{
    --size: 4px; 
    position: relative;
    display: block;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background: var(--clr-gray-shade8);
}

/* ======================================================================Dropdown */
.bottom .dropdown {
    position: relative;
}

.bottom .dropdown-menu {
    position: absolute;
    left: 0;
    /* background: var(--clr-gray-dark); */
    background: var(--clr-dark);
    border: 1px solid var(--clr-light);
    /* color: var(--clr-dark); */
    width: 100%;
    padding: .5rem;
    border-radius: 4px;
    pointer-events: none;

    box-shadow: 0 2px 5px 0 #00000009;
    opacity: 0;
    transition: all .3s;
    z-index: 3;
}

.bottom .dropdown-menu::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 16px;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid var(--clr-light);
    border-right: 1px solid var(--clr-light);
    background: var(--clr-dark);
    transform: rotate(45deg);
    transition: all .3s;
    z-index: -1;
}

.bottom .dropdown-menu.active {
    opacity: 1;
    pointer-events: auto;
}

.dropdown .btn-box {
    position: relative;
    position: relative;
    width: 100%;
}

.dropdown .btn-box li {
    display: flex;
    padding: .8rem;
    position: relative;
    width: 100%;
    list-style: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown .btn-box li:hover {
    background: var(--clr-p-light);
}

.dropdown .btn-box li .img-box {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    display: grid;
    place-items: center;
}

.dropdown .btn-box li .img-box img {
    width: 1rem;
    height: 1rem;
}

.dropdown .btn-box li span {
    /* padding-left: 1rem; */
    justify-self: flex-start;
    display: grid;
    place-items: center;
    font-size: .9rem;
}



/* ========================================================Dropdown ToggleSwitch */
.dropdown .btn-toggle {
    display: flex;
    justify-content: space-between;
}

.btn-toggle label {
    position: relative;
    display: block;
    width: 48px;
    height: 24px;
    cursor: pointer;
}

.dropdown .btn-toggle label input {
    position: relative;
    appearance: none;
}

.dropdown .btn-toggle label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    transition: .3s;
    border: 1px solid var(--invert-clr-p);
    transition: .3s ease-in-out;
}

.dropdown .btn-toggle span i {
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    height: 20px;
    width: 20px;
    border-radius: 3rem;
    background: var(--invert-clr-p);
    transition: all .3s ease-in-out;
}

.theme-mode label span i::before,
.theme-mode label span i::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 3rem;
    transition: all .3s ease-in-out;
}

.theme-mode label span i::before {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: var(--clr-p-light);
    border-radius: 3rem;
}

.theme-mode label span i::after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px dashed var(--clr-p);
}

.dropdown .btn-toggle input:checked~span i {
    left: 25.5px;
}

.theme-mode input:checked~span i::after {
    top: 3px;
    left: 7px;
    width: 10px;
    height: 10px;
    border: transparent;
    background: var(--invert-clr-p);
}


.toggle-editable input:checked~span i {
    background: var(--clr-s);
}
.toggle-editable input:checked~span {
    border-color: var(--clr-s);
}





/* ====================================Editable Left Bar ======================== */

.btn-editable {
    padding: 0 1rem;
    background: var(--clr-white);
    color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    user-select: none;
    font-weight: bold;
    font-family: var(--lora);
    cursor: pointer;
}

.left-bar .btn-editable:hover div,
.left-bar .btn-editable:focus-within div {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.left-bar .btn-editable div:active {
    top: 4px;
}

.left-bar .btn-editable div {
    position: relative;
    margin: 1rem 1rem 1rem 0;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    padding-bottom: .1rem;
    font-weight: 500;
    border-radius: 4px;
}

.add-cat-input,
.add-sub-cat-input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    padding-right: 0;
}





/* ====================================CONTENT BLOCK ============================= */


#content-block {
    display: block;
    position: relative;
    height: calc(100vh - 4rem);
    /* height: 100vh ; */
    margin: auto;
    overflow-y: scroll;
}

.category-section {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid var(--clr-gray-light); */
}

.hide {
    display: none;
}

.category-heading {
    position: relative;
    font-size: 3rem;
    color: var(--clr-s);
}

.category-heading+p {
    max-width: 45rem;
    margin: 1rem 0;
    text-align: center;
}

.sub-category-section {
    position: relative;
    align-self: flex-start;
}

.category-section::after {
    content: "";
    position: relative;
    margin: 1rem auto;
}

.sub-cat-heading {
    position: relative;
    font-size: 2rem;
    margin: 2rem 0 1rem .5rem;
}

.sub-cat-heading::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    display: block;
    height: 3rem;
    width: .4rem;
    background: var(--clr-s);
    margin-left: -1rem;
}




.display-card-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* display: flex; */
}


/* ====================================CARD-Element================================== */
.card {
    max-width: 15rem;
    position: relative;
    margin: .5rem;
    background: var(--clr-p-light);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--clr-gray-dark);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.remove-card-btn {
    position: absolute;
    right: 0;
    padding-bottom: .1rem;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--clr-p);
    border: 2px solid var(--invert-clr-p);
    color: var(--clr-light);
    font-size: 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    transform-origin: center;
    cursor: pointer;
    z-index: 3;
}

.card .remove-card-btn:hover {
    height: 2rem;
    width: 2rem;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover .image-box img {
    transform: scale(1.5);
}

.image-box {
    display: block;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.image-box img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    position: relative;
    padding: .5rem 1rem;
    border-top: 0px;
}

.info-box .web-name {
    font-size: 16px;
    color: var(--clr-white);
    text-transform: uppercase;
}

.card .info-box .detail {
    font-size: 14px;
    min-height: 4rem;
    padding: .3rem 0;
    color: var(--clr-gray-light);
}

.card .btn-box {
    padding: .1rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.btn-box .pricing {
    background: #ffffa7;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 5rem;
    color: #2B3467;
}


.btn_visit {
    position: relative;
    display: inline-block;
    user-select: none;
    padding: .3rem .6rem;
    border: 2px groove #809fff;
    border-radius: 5px;
    cursor: pointer;
    color: #809fff;
    transition: 0.2s linear;
    text-decoration: none;
}

.btn_visit:hover {
    background: #1a66ff;
    color: #ffffff;
}


/* ====================================Editable Card ======================== */

.editable-card .image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray-dark);
}

.editable-card .image-box [type=file] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.editable-card .image-box img {
    height: 2rem;
    width: 2rem;
    pointer-events: none;
}
.editable-card .image-box .demo-image {
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.editable-card .info-box .fill-box input {
    background: transparent;
    color: var(--clr-light);
    font-size: .9rem;
}

.editable-card .info-box .fill-box img {
    height: .8rem;
    margin-right: .3rem;
}
.editable-card .list-box {
    padding: .5rem;
    border-radius: 2px;
    border-bottom: 1px solid var(--clr-s);
    display: flex;
    align-items: center;
}

.editable-card .info-box .btn {
    position: relative;
    background: transparent;
    color: var(--clr-light);
    border: 1px solid var(--clr-s);
    border-top: transparent;
    float: right;
    margin-bottom: .5rem;
}

.editable-card .info-box .btn:hover {
    top: -2px;
}

.editable-card .info-box .btn:active {
    top: 2px;
}






/* ====================================Footer================================ */
footer {
    padding: 2rem;
    border-top: 1px solid var(--clr-gray-light);
}
.flex-box{
    display: flex;
    justify-content: space-between;
}


/* ====================================Modal Section ============================ */
/* ============================================================Modal Subscription */
/* The Modal (background) */
.modal-alert{
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-subscription-content .header,
.modal-alert .header{
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-gray-light);
}
.modal-alert .header span{
    font-weight: bold;
}
.modal-alert .modal-body{
    padding: 1rem 0;
}

/* Modal Content */
.modal-alert-content{
    position: relative;
    width: 40%;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: auto;
    padding: 0 1rem;
    border: 2px solid var(--clr-black);
    border-radius: 8px;
}
.modal-alert-text-box{
    position: relative;
    width: 80%;
    padding-bottom: 1rem;
}
.modal-text{
    font-size: 1.5rem;
    font-family: var(--sans);
}

.modal-alert .btn-box {
    width: 8rem;
}
.modal-alert .query-btn-modal {
    border: 1px solid var(--clr-dark);
    padding: .5rem 1rem;
}
.modal-alert .query-btn-modal:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
}

/* #close-modal-alert-btn{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -1.5rem;
} */

.btn-modal-close{
    font-size: 1rem;
    background: transparent;
    color: var(--clr-gray-dark);
    border: 1px solid transparent;
}
.btn-modal-close:focus{
    border: 1px solid var(--clr-light);
}
.btn-modal-close:hover{
    color: var(--clr-gray-light);
}

/* ============================================================Modal Subscription */
.modal-subscription {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-subscription-content{
    position: relative;
    /* width: 70%; */
    width: fit-content;
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: auto;
    padding: 0 1rem;
    /* border: 2px solid var(--clr-light); */
    border-radius: 8px;
}
.modal-subscription-content .header span{
    font-weight: bold;
    /* font-size: 1.5rem; */
}
.modal-subscription-content .modal-body{
    display: flex;
}
.modal-subscription-content .modal-body .plan-card{
    padding: 1rem;
    width: min(17rem, 18rem);
    border-right: 1px solid var(--clr-gray-light);
}
.modal-subscription-content .modal-body .plan-card:first-child{
    padding-left: 0;
}
.modal-subscription-content .modal-body .plan-card:last-child{
    padding-right: 0;
    border-right: 0;
}
.modal-subscription-content .modal-body .plan-card .name-box{
    display: flex;
    justify-content: space-between;
}
.modal-subscription-content .modal-body .plan-card .plan-name{
    padding-bottom: .5rem;
    font-family: var(--lora);
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-subscription-content .modal-body .plan-card .price{
    font-size: 1.5rem;
    font-family: var(--sans);
    color: var(--clr-gray-shade8);
    font-weight: bold;
}
.modal-subscription-content .modal-body .plan-card .btn-subscribe{
    width: 100%;
    height: auto;
    padding: 1rem;
    background: var(--clr-gray-dark);
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    font-family: var(--nunito);
}
.modal-subscription-content .modal-body .plan-card .btn-subscribe:focus{
    border: 2px solid var(--clr-light);
}
.modal-subscription-content .modal-body .plan-card .plan-detail{
    padding: .5rem 0;
}
.modal-subscription-content .modal-body .plan-card .plan-detail li {
    display: flex;
    list-style: none;
    font-size: .8rem;
    line-height: 1.5rem;
}
.modal-subscription-content .modal-body .plan-card .plan-detail li> span {
    position: relative;
    font-size: .9rem;
}

.modal-subscription-content .modal-body .plan-card .plan-detail .img-box {
    width: .9rem;
    height: .9rem;
}
.modal-subscription-content .modal-body .plan-card .plan-detail li> span img {
    width: .7rem;
    height: .7rem;
}
.modal-subscription-content .modal-body .plan-card .plan-detail .tick-img {
    position: relative;
    top: 3px;
    margin-right: 1rem;
}

/* ===========================================For Standard  */
.modal-subscription-content .modal-body .standard .btn-subscribe{
    background: var(--clr-s);
    color: var(--clr-dark);
}
.modal-subscription-content .modal-body .standard .tick-img {
    filter: invert(63%) sepia(77%) saturate(413%) hue-rotate(117deg) brightness(92%) contrast(100%);
}

/* ===========================================For Standard  */
.modal-subscription-content .modal-body .premium .btn-subscribe{
    background: var(--p-clr-primary);
    color: var(--p-clr-light);
}
.modal-subscription-content .modal-body .premium .tick-img {
    filter: invert(34%) sepia(56%) saturate(7358%) hue-rotate(235deg) brightness(99%) contrast(92%);
}


/* ================================================================================
Common Classes
=================================================================================== */
.clr-s{
    color: var(--clr-s);
}

.display-none {
    display: none;
}