<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one for all</title>
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="utility.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/mobile-media.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/tab-media.css">
</head>

<body>

    
    
    <main id="interface">

        <aside>
            <div class="left-bar">
                <div class="search-section">
                    <input id="search-input" type="text" placeholder="Search">
                    <button id="btn_search">&#x260C;</button>
                </div>
                <ul id="nav_btn-list">
                    <li id="all" class="btn_category active-cat-btn">All</li>
                </ul>
            </div>
        </aside>
        
        <section>
            
            <header>
                <nav class="nav-bar flex-c-h">
                    <div class="logo-box">
                        <img src="1.jpg" alt="" class="logo">
                    </div>
                    <ul class="flex-c-h">
                        <li><a href="./components/04 display item/index.html">Tool List</a></li>
                        <li><a href="#">Snippit</a></li>
                        <li><a href="#">works</a></li>
                        <li><a href="#">Lets Talk</a></li>
                    </ul>
                    <div class="btn list-box" id="toggle-aside-btn">
                        <img src="./image/icon/view-list.svg" alt="">
                    </div>
                    <label>
                        <input id="theme-btn" type="checkbox">
                        <span><i></i></span>
                    </label>
                </nav>
            </header>

            <div id="content-block"></div>
            
            <footer>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, deserunt suscipit repudiandae
                    aliquid exercitationem, iure maxime tempore similique, sapiente tempora quaerat enim debitis odit
                    soluta perspiciatis officia quibusdam amet nostrum est asperiores beatae deleniti impedit! Veniam
                    molestiae quasi vel porro quia blanditiis! Voluptas ullam odit temporibus et in ea quibusdam eius
                    neque fugit! Nobis dolor distinctio, in sunt iste nostrum vitae at voluptates est a dolores
                    corporis, commodi tenetur, maxime enim qui saepe fugit iure possimus necessitatibus. Sed, eos
                    molestias. Nesciunt praesentium nemo quibusdam quaerat tempore voluptates accusamus debitis,
                    pariatur itaque inventore nostrum molestiae eum quia ipsam aliquid fugit excepturi?</p>
            </footer>
        </section>

    </main>


    <script src="index.js"></script>
    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <script>
        AOS.init();
    </script>  -->
</body>

</html>