header {
    background: var(--clr-p);
    border-bottom: 1px solid var(--clr-gray-light);
}

header .nav-bar {
    position: relative;
    width: 90%;
    margin: auto;
    height: 4rem;
    justify-content: space-between;
}

header .logo-box{
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

header .logo {
    position: relative;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 5rem;
}

header ul li {
    position: relative;
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
    font-family: var(--lora);
}

header ul li::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--clr-s);
    transition: .3s;
}

header ul li:hover::after {
    width: 100%;
}

header ul li a {
    text-decoration: none;
    color: var(--clr-white);
}


